.comment-section {
  margin-bottom: 80px;

  .client-comments-header {
    color: #7f2aa7;
    text-align: center;
    margin: 70px 0px 80px;
    font-weight: bolder;
    font-size: 3rem;
    text-transform: uppercase;
  }
}
