section {
  .arrow-header {
    background-image: url("../../../../assets/img/arrows.png");
    background-size: cover;
    margin: 50px 0px;
    width: 1300px;
    height: 210px;
    margin: 0 auto;
    background-position: top;
    position: relative;
  }
}
