.section-text-color-white,
.section-text-color-black,
.section-text-color-purple {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.section-text-color-white {
  color: #fff;
}

.section-text-color-black {
  color: #000;
}

.section-text-color-purple {
  color: #33245b;
}

.center {
  text-align: center;
}
