footer {
  //   background-color: #2d1768;
  background-color: #fff;
  border-top: 3px solid #2d1768;

  .footer-logo {
    max-width: 350px;
  }
  h3 {
    background-color: black;
    color: #fff;
  }
}
