h1 {
  font-size: 5rem;
  margin: 35px 0px;
  font-weight: bolder;
}

.dark {
  color: #36094b;
}

.light {
  color: #7f2aa7;
}

.section-header-white,
.section-header-purple {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 60px;
}

.section-header-white {
  color: #fff;
}
.section-header-purple {
  color: #36094b;
}

.center {
  text-align: center;
}
